#logo {
  height: 150px;
  border-radius: 100px;
}
body {
  background-color: #9f79f2;
}
header {
  margin: 5px;
  padding: 5px;
  background-color: #f27f1b;
  display: flex;
  justify-content: space-between;
}
section {
  display: flex;
}

#brand {
  font-size: 50px;
}
nav {
  text-decoration-color: whitesmoke;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  gap: 5ch;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5ch;
  background-color: #f27f1b;
}
.word {
  font-size: 20pt;
  color: white;
}
#bestsection {
  background-color: #f27f1b;
  margin-top: 15px;
  padding-left: 5px;
  color: white;
}
.testimonial {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
footer {
  background-color: #f27f1b;
  color: white;
}
#throwit {
  height: 450px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 25px;
}
